params {
    workflow_conceived_by = 'Kranti Konganti'
    workflow_built_by = 'Kranti Konganti'
    workflow_version = '0.1.0'
    pdg_release = 'PDG000000043.204'
    pdg_org = 'Cronobacter'
    ncbi_asm_suffix = '_genomic.fna.gz'
    dpubmlstpy_run = true
    dpubmlstpy_org = 'cronobacter'
    dpubmlstpy_mlsts = 'schemes/1'
    dpubmlstpy_profile = false
    dpubmlstpy_loci = false
    dpubmlstpy_suffix = false
    dpubmlstpy_akey = false
    dpubmlstpy_id = false
    genomes_chunk = 50
    checkm2predict_run = true
    checkm2predict_quiet = true
    checkm2predict_lowmem = false
    checkm2predict_general = false
    checkm2predict_specific = false
    checkm2predict_allmodels = true 
    checkm2predict_genes = false
    checkm2predict_x = '.fna.gz'
    checkm2predict_tmpdir = '"."'
    checkm2predict_rminterfiles = false
    checkm2predict_ttable = false
    checkm2predict_dbg_cos = false
    checkm2predict_dbg_vectors = false
    checkm2predict_dbpath = ("${projectDir}"
        + File.separator
        + 'assets'
        + File.separator
        + 'databases'
        + File.separator
        + 'checkm2_db'
        + File.separator
        + 'uniref100.KO.1.dmnd')
    guncrun_run = true
    guncrun_in_is_fasta = false
    guncrun_in_is_fofn = false
    guncrun_in_is_dir = false
    guncrun_file_suffix = (params.checkm2predict_x ?: '.fna.gz')
    guncrun_gene_calls = false
    guncrun_temp_dir = '"."'
    guncrun_sensitive = true
    guncrun_detailed_output = false
    guncrun_ctg_tax_output = false
    guncrun_use_species_lvl = false
    guncrun_min_mapped_genes = 11
    guncrun_dbpath = ("${projectDir}"
        + File.separator
        + 'assets'
        + File.separator
        + 'databases'
        + File.separator
        + 'gunc_db'
        + File.separator
        + 'gunc_db_progenomes2.1.dmnd')
    fgq_py_cm2_extract = 'Name'
    fgq_py_cm2_fcn = "'Completeness_General,Contamination,Completeness_Specific'"
    fgq_py_cm2_fcv = "'97.5,1,99'"
    fgq_py_cm2_conds = "'>=,<=,>='"
    fgq_py_gunc_extract = 'genome'
    fgq_py_gunc_fcn = "'clade_separation_score,contamination_portion'"
    fgq_py_gunc_fcv = "'0.45,0.05'"
    fgq_py_gunc_conds = "'<=,<='"
    mashsketch_run = true
    mashsketch_l = false
    mashsketch_I = false
    mashsketch_C = false
    mashsketch_k = 21
    mashsketch_s = 1000
    mashsketch_i = false
    mashsketch_S = false
    mashsketch_w = false
    mashsketch_r = false
    mashsketch_b = false
    mashsketch_m = false
    mashsketch_c = false
    mashsketch_g = false
    mashsketch_n = false
    mashsketch_a = false
    mashsketch_z = false
    mashsketch_Z = false
    mlst_run = true
    mlst_scheme = (params.dpubmlstpy_org ?: 'cronobacter')
    mlst_legacy = true
    mlst_minid = 95
    mlst_mincov = 10
    mlst_minscore = 50
    mlst_blastdb = false
    mlst_datadir = false
    mlst_label = false
}
